
$content-front-size: 2.3rem;

.LandingPage{
    position: absolute;
    width: 100%;
    height: 100%;
    color: inherit;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    &_logo{
        font-family: 'Montserrat', sans-serif;
        transition: color 1s ease-in-out;
        text-decoration: none;
        color: inherit;
    }
    &_logo:hover{
        color: #CE7967;
    }
    &_content{
        font-family: 'Oswald', sans-serif;
        font-size: 1.8rem;
        a{
            color: inherit;
            font-size: $content-front-size;
            transition: color 1s ease-in-out;
            text-decoration: underline;
        }
        a:hover{
            color: #CE7967;
        }
    }
    &_footer{
        border-top: 2px #F2ECFF solid;
        font-family: 'Poppins', sans-serif;
        h4{
            font-size: 1rem;
        }
        a{
            text-decoration: none;
            color: inherit;
            transition: color 1s ease-in-out;
        }
        a:hover{
            color: #CE7967;
        }
        img{
            height: 1.5rem;
            margin-right: 1rem;
            cursor: pointer;
        }
    }
    @media only screen and (min-width: 768px){
        &_RowTop{
            height: 100%;
        }
        &_content{
            font-size: 2rem;
            a{
                font-size: 4rem;
            }
        }
    }
}

.fadeAway{
    animation: fade 2s linear;

    @keyframes fade {
        0%{
            opacity: 0%;
        }
        50%{
            opacity: 50%;
        }
        100%{
            opacity: 100%;
        }
    }
}



