.Skills{
    background-color: #CE7967;
    color: #131313;
    overflow: hidden;
    
    p{
        font-size: 1.4rem;
    }

    &_upText{
        h1{
            font-family: 'Oswald', sans-serif;
            font-size: 6rem;
            white-space: nowrap;
            text-transform: uppercase;
            animation: movingTextITrain 10s infinite linear;
        }
    }

    &_downText{
        transform: rotate(-180deg);
        h1{
            font-family: 'Oswald', sans-serif;
            font-size: 6rem;
            white-space: nowrap;
            text-transform: uppercase;
            color: #F2ECFF;
            animation: movingTextITrain 10s infinite linear;
        }
    }

    &_btn{
        border-radius: 2rem;
        text-transform: uppercase;
    }

    @keyframes movingTextITrain {
        0%{
            transform: translateX(0%); 
        }
        50% {
            transform:translateX(-150%);
        }
        100%{
            transform: translateX(0%); 
        }
    }
}


@media only screen and (min-width: 768px){
    .Skills{
        &_upText{
            h1{
                font-size: 12rem;
                animation: movingTextITrain1 20s infinite linear;
            }
        }

        &_downText{
            h1{
                font-size: 12rem;
                animation: movingTextITrain1 20s infinite linear;
            }
        }
        @keyframes movingTextITrain1 {
            0%{
                transform: translateX(10%); 
            }
            50% {
                transform:translateX(-100%);
            }
            100%{
                transform: translateX(10%); 
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    .Skills{

        &_upText{
            h1{
                animation: movingTextITrain2 20s infinite linear;
            }
        }

        &_downText{
            h1{
                animation: movingTextITrain2 20s infinite linear;
            }
        }

        &_btn{
            margin-top: 3rem;
        }
    }


    @keyframes movingTextITrain2 {
        0%{
            transform: translateX(0%); 
        }
        50% {
            transform:translateX(-95%);
        }
        100%{
            transform: translateX(0%); 
        }
    }
}

@media only screen and (min-width: 1200px){
    .Skills{

        &_upText{
            h1{
                animation: movingTextITrain3 10s infinite linear;
            }
        }

        &_downText{
            h1{
                animation: movingTextITrain3 10s infinite linear;
            }
        }
        @keyframes movingTextITrain3 {
            0%{
                transform: translateX(20%); 
            }
            50% {
                transform:translateX(-10%);
            }
            100%{
                transform: translateX(20%); 
            }
        }
    }
}