
.home{
    background-color: inherit;
    color: inherit;
    &_topText{
        text-overflow: ellipsis;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        h1{
            text-transform: uppercase;
            font-size: 4rem;
            font-family: 'Oswald', sans-serif;
            animation: movingTextStart 20s infinite linear;
        }
    }

    &_midText{
        font-size: 2rem;
        line-height: 2.5rem;
        span{
            font-size: 2.5rem;
            color: #CE7967;
        }
    }


    &_downBtn{
        border-radius: 50%;
        padding: 0.5rem 0.7rem;
        border-color: #F2ECFF;
    }

    &_stepsBox{
        border-top: 1px #F2ECFF solid;
        h3{
            margin-top: 1.5rem;
            color: #CE7967;
        }
        p{
            
            font-size: larger;
        }
    }

    &_GITBtn{
        a{
            text-transform: uppercase;
            font-weight: bolder;
            padding: 1rem;
            color: #F2ECFF;
            border-radius: 2rem;
            border-color: #F2ECFF;
        }
    }

    @keyframes movingTextStart {
        0%{
            transform: translateX(10%); 
        }
        50% {
            transform:translateX(-460%);
        }
        100%{
            transform: translateX(10%); 
        }
    }
    
}


