
.home{
    background-color: inherit;
    color: inherit;
    &_topText{
        text-overflow: ellipsis;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        h1{
            text-transform: uppercase;
            font-size: 5rem;
            font-family: 'Oswald', sans-serif;
            animation: movingTextStartTop 60s infinite linear;
        }
    }

    &_midText{
        font-size: 2rem;
        line-height: 2.5rem;
        span{
            font-size: 2.5rem;
            color: #CE7967;
        }
    }


    &_downBtn{
        border-radius: 50%;
        padding: 0.5rem 0.7rem;
        border-color: #F2ECFF;
    }

    &_stepsBox{
        border-top: 1px #F2ECFF solid;
        h3{
            margin-top: 1.5rem;
            color: #CE7967;
        }
        p{
            
            font-size: larger;
        }
    }

    &_GITBtn{
        a{
            text-transform: uppercase;
            font-weight: bolder;
            padding: 1rem;
            color: #F2ECFF;
            border-radius: 2rem;
            border-color: #F2ECFF;
        }
    }

    @keyframes movingTextStartTop {
        0%{
            transform: translateX(10%); 
        }
        50% {
            transform:translateX(-690%);
        }
        100%{
            transform: translateX(10%); 
        }
    }
    
}

@media only screen and (min-width: 768px){
    .home{
        &_topText{
            h1{
                font-size: 10rem;
                animation: movingTextStartTop2 60s infinite linear;
            }
        }

        &_midText{
            text-align: start;
            margin-top: 6rem !important
        }

        &_GITBtn{
            padding-left: 25%;
            padding-right: 25%;
        }
    }


    @keyframes movingTextStartTop2 {
        0%{
            transform: translateX(10%); 
        }
        50% {
            transform:translateX(-480%);
        }
        100%{
            transform: translateX(10%); 
        }
    }
}


@media only screen and (min-width: 1024px){
    .home{
        &_topText{
            h1{
                animation: movingTextStartTop3 60s infinite linear;
            }
        }
        &_midText{
            margin-top: 10rem !important
        }
    }

    @keyframes movingTextStartTop3 {
        0%{
            transform: translateX(10%); 
        }
        50% {
            transform:translateX(-460%);
        }
        100%{
            transform: translateX(10%); 
        }
    }
}

@media only screen and (min-width: 1200px){
    .home{
        &_topText{
            h1{
                animation: movingTextStartTop4 60s infinite linear;
            }
        }
    }
    @keyframes movingTextStartTop4 {
        0%{
            transform: translateX(10%); 
        }
        50% {
            transform:translateX(-200%);
        }
        100%{
            transform: translateX(10%); 
        }
    }

}

