.Contact{
    position: relative;
    &_upText, &_downText{
        h1{
            text-transform: uppercase;
            font-size: 6rem;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
        }
    }
    &_upText{
        text-align: right;
    }
    &_img{
        display: none;
    }
    &_workhour{

        h3{
            text-transform: uppercase;
        }
        span{
            color: #CE7967;
        }
        border-bottom: 1px #F2ECFF solid;
        a{
            text-decoration: none;
            color: #F2ECFF;
        }
    }
}


@media only screen and (min-width: 768px){
    .Contact{
        overflow: hidden;
        &_upText, &_downText{
            h1{
                font-size: 10rem;
            }
        }

        &_upText{
            white-space: nowrap;
            overflow: visible;
            text-align: center;
        }

        &_downText{
            white-space: nowrap;
            overflow: visible;
            text-align: center;
        }

        &_workhour{
            text-align: center;
        }

        &_img{
            display: flex;
            align-items: flex-start;
            img{
                border-radius: 0.5rem;
                object-fit: contain;
                height: 100%;
                width: 70%;
            }
        }
    }

}