.Contact{
    &_upText, &_downText{
        h1{
            text-transform: uppercase;
            font-size: 6rem;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
        }
    }
    &_upText{
        text-align: right;
    }

    &_workhour{

        h3{
            text-transform: uppercase;
        }
        span{
            color: #CE7967;
        }
        border-bottom: 1px #F2ECFF solid;
        a{
            text-decoration: none;
            color: #F2ECFF;
        }
    }
}


@media only screen and (min-width: 768px){
    .Contact{
        overflow: hidden;
        &_upText, &_downText{
            h1{
                font-size: 12rem;
            }
        }

        &_upText{
            white-space: nowrap;
            overflow: visible;
            position: relative;
            left: 20%;
            transform: rotate(90deg);
            padding-left: 5%;
            margin-top: 20%;
        }

        &_downText{
            white-space: nowrap;
            overflow: visible;
            margin-top: 10%;
            text-align: center;
        }

        &_workhour{
            text-align: center;
        }
    }

}