.Works{
    h1{
        font-size: 6rem;
        text-transform: uppercase;
        color: inherit;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
    }

    &_btn{
        text-transform: uppercase;
        color: #F2ECFF;
        border-radius: 2rem;
        padding: 1rem;
        font-size: smaller;
        border-color: #F2ECFF;
    }
    &_info{
        
        h2{
            color: #CE7967;
        }
        h5{
            font-size: smaller;
        }
    }
}

@media only screen and (min-width: 768px){
    .Works{
        h1{
            font-size: 12rem;
            text-transform: uppercase;
            color: inherit;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
        }

        &_info{
            display: flex;
        }
    }
}

@media only screen and (min-width: 1024px){
    .Works{

        h1{
            font-size: 20rem;
            text-transform: uppercase;
            color: inherit;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
        }


        &_info{
            display: flex;
        }
    }
}

@media only screen and (min-width: 1200px){
    .Works{
        &_btn_last{
            display: none;
        }
        &_top{
            display: none;
        }
    }
}