@import "~bootstrap/scss/bootstrap";
$base-color: #F2ECFF;

.app{
    background-color: #131313;
    color: $base-color;
    font-family: 'Roboto', sans-serif;
    cursor: url(./images/icons8-computer-mouse-50.png), auto;
    a{
        cursor: url(./images/icons8-left-click-50.png), pointer;
    }
}
