.AboutMe{
    overflow: hidden;
    position: relative;
    h1{
        font-size: 6rem;
        text-transform: uppercase;
        color: inherit;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
    }
    &_info{
        h2{
            color: #CE7967;
        }
        h5{
            margin-bottom: 1rem;
        }
        p{
            font-size: medium;
        }
    }
    &_btn{
        a{
            img{
                max-height: 2rem;
            }
        }
    }
    
    &_img{
        align-items: flex-start;
        img{
            border-radius: 0.5rem;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .AboutMe{
        h1{
            font-size: 12rem;
        }
        
        &_small{
            position: absolute;
            transform: rotate(90deg);
            top: 20%;
            right: 5%;
            white-space: nowrap;
        }
    }
}

@media only screen and (min-width: 1024px){
    .AboutMe{
        h1{
            font-size: 20rem;
        }
        &_small{
            right: 15%;
        }
        &_img{
            margin-top: 2rem;
        }
    }


}