.AboutMe{
    overflow: hidden;
    h1{
        font-size: 6rem;
        text-transform: uppercase;
        color: inherit;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
    }
    &_info{
        h2{
            color: #CE7967;
        }
        h5{
            margin-bottom: 1rem;
        }
        p{
            font-size: larger;
        }
    }
    &_btn{
        a{
            img{
                max-height: 2rem;
            }
        }
    }

    &_big{
        display: none;
    }

    &_img{
        margin-top: 2rem;
        align-items: flex-start;
        img{
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .AboutMe{
        h1{
            font-size: 12rem;
        }
        &_big{
            display: flex;
            transform: rotate(-90deg);
            white-space: nowrap;
            position: relative;
            right: -5%;
            span{
                font-size: 12rem;
                height: 2rem;
                text-transform: uppercase;
                font-family: 'Raleway', sans-serif;
                font-weight: bolder;
            }
        }    


        &_small{
            display: none;
        }
    }
}

@media only screen and (min-width: 1024px){
    .AboutMe{
        &_big{
            right: -5%;
        }
        &_img{
            margin-top: 2rem;
        }
    }


}